@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "SaolDisplay", serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* Inter Regular */
@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter.ttf") format("ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}

/* Inter Italic */
@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_Italic.ttf") format("ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}

/* IbarraRealNova Regular */
@font-face {
  font-family: "IbarraRealNova";
  src: url("/Fonts/IbarraRealNova.ttf") format("ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  ascent-override: 92%;
  descent-override: 18%;
  line-gap-override: 0%;
}

/* IbarraRealNova Italic */
@font-face {
  font-family: "IbarraRealNova";
  src: url("/Fonts/IbarraRealNova_Italic.ttf") format("ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  ascent-override: 92%;
  descent-override: 18%;
  line-gap-override: 0%;
}

/* SaolDisplay Regular */
@font-face {
  font-family: "SaolDisplay";
  src: url("/Fonts/SaolDisplay-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  ascent-override: 88%;
  descent-override: 22%;
  line-gap-override: 0%;
}

/* SaolDisplay Light */
@font-face {
  font-family: "SaolDisplay";
  src: url("/Fonts/SaolDisplay-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  ascent-override: 88%;
  descent-override: 22%;
  line-gap-override: 0%;
}

/* SaolDisplay Italic */
@font-face {
  font-family: "SaolDisplay";
  src: url("/Fonts/SaolDisplay-LightItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  ascent-override: 88%;
  descent-override: 22%;
  line-gap-override: 0%;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Swiper Pagination Styling */
.swiper-horizontal>.swiper-pagination-bullets {
  top: 100%;
}

.swiper-pagination-bullet {
  background-color: #faccd4;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #1f4fd8;
  mix-blend-mode: difference;
}